
 
.bas{
    height: 20vh;
}
 
.pied{
    display: flex;
    flex-wrap: wrap;
}
 
.pied__section{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    margin: 0;
    padding: 0;
}
 
.pied__section ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.pied__resume{
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 400px;
}
 
.pied__lien{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
    top: 200px;
    
}
 
.pied__service{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
   
}
 
.pied__sociaux{
    margin: 0;
    padding: 20px 170px;
    display: flex;
    gap: 20px;
    margin: 0;
}
 
 



 
.article__div p{
    display: flex;
    flex-direction: column;
}
 
.article__figure{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
    gap: 12px;
    padding-right: 15px;
}
 