.galerie{
    display : flex;
    flex-wrap: wrap;
    gap: 26px;
    background-color: rgba(216, 162, 12, 0.84);

}
.galerie__figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 350px;
    transform: rotate(10deg);
    border-radius: 50%;


}
.galerie__figure:nth-of-type(odd){
     transform: rotate(-10deg);
}


.galerie__img{}
.galerie__figcaption{}